<div class="jumbotron section civil-rights" style="background:#e3edee">
  <div class="container" style="border: 5px ridge #399eaa; padding:3%">
    <h2 class="mb-50">Title VI Civil Rights</h2>
    
    <p>ITNGateway operates its programs and services without regard to race, color, or national origin, in accordance with Title VI of the Civil Rights Act of 1964.</p>

    <p>For more information on ITN<em>Gateway</em>’ Title VI program and the procedures to file a complaint, contact Susan Kallash-Bailey at 636-329-0888 or visit our administrative office at 17 Point West Blvd., Suite A, St. Charles, MO 63301. </p>

    <p>If you believe you have been discriminated against on the basis of race, color, or national origin by ITN<em>Gateway</em>, you may file a Title VI complaint by completing, signing, and submitting the agency’s <a href="assets/images/docs/ComplaintForm.pdf" role="download complaint form" download>Title VI Complaint Form</a></p>

    <p class="mt-25"><strong>How to file a Title VI complaint with ITN<em>Gateway</em>:</strong></p>

    <ul>
      <li>To obtain a complaint form, please call our office at <strong>636-329-0888</strong>, e-mail us at <strong>info@itngateway.org</strong> or <a ui-sref="contact">contact us here</a></li>
      <li>In addition to the complaint process at ITNGateway, complaints may be filed directly with the Federal Transit Administration, Office of Civil Rights, Region 7, 901 Locust Street, Suite 404, Kansas City, Missouri 64106.</li>
      <li>Complaints must be filed within 180 days following the date of the alleged discriminatory occurrence and should contain as much detailed information about the alleged discrimination as possible.</li>
      <li>The form must be signed and dated, and include your contact information.</li>
    </ul>
    
    <p>If information is needed in another language, contact 636-329-0888.</p>
    
  </div>
</div>