<div class="contact non-rider" ng-init="resetFormData(); catchNewsletter()">
      
    <div class="jumbotron section first-hero" id="first-hero-contact">
      <h1>Contact</h1>
    </div><!--first-hero-->
    
    <div class="jumbotron section" style="background: #c7dfe4">
      
      <div class="container">
        <h3>Want to learn more about ITN<em>Gateway</em>? Have questions or comments? Use the form below, or call us at the numbers provided below.</h3>
        <hr align="center">
        
        <div class="row ta-center mt-50 mb-25">
          <div class="col-md-6">
            <h4>ITN<em>Gateway</em> (St. Louis)</h4>
            <iframe frameborder="0" height="350" id="contact_map" marginheight="0" marginwidth="0" scfadeInUpg="no" src="https://maps.google.com/maps?width=720&amp;height=350&amp;hl=en&amp;q=1819%20Clarkson%20Road%2C%20Chesterfield%2C%20MO%2063017+(ITN%20St%20Louis)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" width="350"></iframe>

            <p class="mt-25"><small>
              1819 Clarkson Road, 
              Suite 200<br>
              Chesterfield, MO 63017<br>
              Phone: (314) 724-2117
            </small></p>
          </div>
          <div class="col-md-6">
            <h4>ITN<em>Gateway</em> (St. Charles)</h4>
            <iframe allowfullscreen="" frameborder="0" height="350" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3109.7210396609253!2d-90.55980974946213!3d38.79302897948663!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87df28f16022cf8d%3A0xa76f2b7dac937651!2s17+Point+W+Blvd+a%2C+St+Charles%2C+MO+63301!5e0!3m2!1sen!2sus!4v1500925071789" style="border:0" width="350"></iframe>
            <p class="mt-25"><small>
              17 Point West Blvd., Suite A<br>
              St. Charles, MO 63301<br>
              Phone: (636) 329-0888
            </small></p>
          </div>
        </div>
        
        <hr align="center">
        
        <div class="col-sm-12">
            <div class="form-area" style="background: #c7dfe4;border:none"> 
              <form name="itnForm" novalidate ng-submit="submitForm('contact')" role="contact form" ng-model="formData">
                <br style="clear:both">
                <h3 style="margin-bottom: 25px; text-align: center">Contact ITN Gateway</h3>
                        
                <div class="form-group" ng-class="{ 'has-error' : itnForm.name.$invalid && !itnForm.name.$pristine }">
                  <input type="text" class="form-control" id="name" name="name" placeholder="Name" ng-minlength="minlength" ng-maxlength="maxlength" ng-model="formData.name" required>
                  <span ng-if="itnForm.name.$error.required && !itnForm.name.$pristine" class="help-block">{{errorMessages.required}}</span>
                  <span ng-if="itnForm.name.$error.minlength" class="help-block">{{errorMessages.minlength}}</span>
                  <span ng-if="itnForm.name.$error.maxlength" class="help-block">{{errorMessages.maxlength}}</span>
                </div>
              
                <div class="form-group" ng-class="{ 'has-error' : itnForm.email.$invalid && !itnForm.email.$pristine }">
                  <input type="text" class="form-control" id="email" name="email" ng-pattern="emailPattern" placeholder="Email" ng-model="formData.email" required>
                  <span ng-if="itnForm.email.$error.required && !itnForm.email.$pristine" class="help-block">{{errorMessages.required}}</span>
                  <span ng-if="itnForm.email.$error.pattern" class="help-block">{{errorMessages.email}}</span>
                </div>
              
                <div class="form-group" ng-class="{ 'has-error' : itnForm.mobile.$invalid && !itnForm.mobile.$pristine }">
                  <input type="text" class="form-control" id="mobile" name="mobile" ng-pattern="phonePattern" placeholder="Mobile Number. Example: 617-344-9876" ng-model="formData.phone" required>
                  <span ng-if="itnForm.mobile.$error.required && !itnForm.mobile.$pristine" class="help-block">{{errorMessages.required}}</span>
                  <span ng-if="itnForm.mobile.$error.pattern" class="help-block">{{errorMessages.phone}}</span>
                </div>
                
                <div class="form-group" ng-class="{ 'has-error' : itnForm.subject.$invalid && !itnForm.subject.$pristine }">
                  <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" ng-model="formData.subject" ng-minlength="minlength" ng-maxlength="maxlength" required>
                  <span ng-if="itnForm.subject.$error.required && !itnForm.subject.$pristine" class="help-block">{{errorMessages.required}}</span>
                  <span ng-if="itnForm.subject.$error.minlength" class="help-block">{{errorMessages.minlength}}</span>
                  <span ng-if="itnForm.subject.$error.maxlength" class="help-block">{{errorMessages.maxlength}}</span>
                </div>
                
                <div class="form-group" ng-class="{ 'has-error' : itnForm.message.$invalid && !itnForm.message.$pristine }">
                  <textarea class="form-control" type="textarea" name="message" id="message" placeholder="Message" maxlength="2000" rows="7" ng-minlength="minlength" ng-maxlength="maxMsgLength" ng-model="formData.messageBody" required></textarea>
                  <span ng-if="itnForm.message.$error.required && !itnForm.message.$pristine" class="help-block">{{errorMessages.required}}</span>
                  <span ng-if="itnForm.message.$error.minlength" class="help-block">{{errorMessages.minlength}}</span>
                  <span ng-if="itnForm.message.$error.maxlength" class="help-block">{{errorMessages.maxlength}}</span>
                    <span class="help-block"><p id="characterLeft" class="help-block ">You have reached the limit</p></span>                    
                </div>
                  
                <input type="submit" id="submit" class="btn btn-lg btn-primary pull-right itn-green-bg" value="Send" style="margin-left:2%">
                <input type="button" ng-click="formData = {}" value="Reset Form" class="btn btn-lg pull-right itn-green-bg"  style="margin-left:2%">
              
              </form>
            </div>
          </div>
          
          <p ng-if="loading"><em>Loading. Please wait</em></p>
          <p style="color:red; margin-top:50px"><strong>{{serverMessage}}</strong></p>
          
        </div>
      
    </div><!--jumbo-->
    
  </div><!--contact-->


  
  <script>
  $(document).ready(function(){ 
    $('#characterLeft').text('140 characters left');
    $('#message').keydown(function () {
        var max = 2000;
        var len = $(this).val().length;
        if (len >= max) {
            $('#characterLeft').text('You have reached the limit');
            $('#characterLeft').addClass('text-danger');
            $('#submit').addClass('disabled');            
        } 
        else {
            var ch = max - len;
            $('#characterLeft').text(ch + ' characters left');
            $('#submit').removeClass('disabled');
            $('#characterLeft').removeClass('red');            
        }
    });    
});

  </script>
