
    <div class="news">
      
    <div class="jumbotron section first-hero">
      <h1>News</h1>
    </div><!--first-hero-->
    
    <div class="jumbotron section news-content">
      
      <a href="http://pressroom.itnamerica.org/category/itngateway/">
        <div class="pressroom col-sm-6 row">
          <div class="col-sm-6 pressroom-image">
            <img src="assets/images/icons/news-noword2.png" alt="newspaper icon"/>
            <ul style="">
              <li><a href="http://pressroom.itnamerica.org/category/itngateway/">Pressroom Blog</a></li>
            </ul>
          </div><!--pressroom-image-->
          <div class="col-sm-6 pressroom-title"><h3>Pressroom</h3></div>
        </div><!--pressroom-->
      </a>
      
      <div class="newsletter col-sm-6 row">
        <div class="col-sm-6 newsletter-content">
          <img src="assets/images/icons/news-noword.png" alt="press icon"/>
          <ul style="">
            <li><a href="assets/images/docs/newsletter/summer_2017.pdf" role="newsletter summer 2017">Newsletter Summer 2017</a></li>
            <li><a href="assets/images/docs/newsletter/spring_2017.pdf" role="newsletter Spring 2017">Newsletter Spring 2017</a></li>
            <li><a href="assets/images/docs/newsletter/winter_2013.pdf" role="newsletter Winter 2013">Newsletter Winter 2013</a></li>
            <li><a href="assets/images/docs/newsletter/fall_2012.pdf" role="newsletter Fall 2012">Newsletter Fall 2012</a></li>
            <li><a href="assets/images/docs/newsletter/summer_2012.pdf" role="newsletter Summer 2012">Newsletter Summer 2012</a></li>
            <li><a href="assets/images/docs/newsletter/spring_2011.pdf" role="newsletter Spring 2011">Newsletter Spring 2011</a></li>
            <li><a href="assets/images/docs/newsletter/fall_2010.pdf" role="newsletter Fall 2010">Newsletter Fall 2010</a></li>
        </ul>
        </div><!--newsletter-content-->
        <div class="col-sm-6 newsletter-title"><h3>Newsletters</h3></div>
      </div><!--newsletter-->
      
    </div><!--news-content-->
    
  </div><!--news-->