<div class="rock-for-rides">
  
        <img ng-src="{{assetsPath}}/images/Rock_Banner_without_button.png" alt="banner image for Rock for Rides" usemap="#imgmap" style="width:100%">
  
  <div class="container-fluid" style="text-align:center;padding:5%">
    
    <div class="flyer-paypal" style="overflow:hidden">
      <img ng-src="{{assetsPath}}/images/Rock_for_Rides_Landing_Page.png" alt="poster for Rock for Rides" style="width:80%">
      
      <div class="paypal-section">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="8QNFNPCSLFYQE">
        <table style="margin:auto">
        <tr><td><input type="hidden" name="on0" value="Early Bird Reservations">Early Bird Reservations</td></tr><tr><td><select name="os0">
        <option value="1 R4R Ticket">1 R4R Ticket $50.00 USD</option>
        <option value="2 R4R Tickets">2 R4R Tickets $90.00 USD</option>
        </select> </td></tr>
        <tr><td><input type="hidden" name="on1" value="Name (on reservation)">Name (on reservation)</td></tr><tr><td><input type="text" name="os1" maxlength="200"></td></tr>
        <tr><td><input type="hidden" name="on2" value="Additional names">Additional names</td></tr><tr><td><input type="text" name="os2" maxlength="200"></td></tr>
        </table>
        <input type="hidden" name="currency_code" value="USD">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" style="margin-top:5%;">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
      </div>
    </div><!--flyer-paypal-->
  
  
    <div class="sponsors mt-100">
      <h3>Thank you to our sponsors</h3>
      
      <div class="row mt-25 row-center">
        <div class="col-md-6 col-center">
          <a href="https://www.kohls.com" target="_blank">
            <img ng-src="{{assetsPath}}/images/Kohls_logo.png" alt="kohls logo" style="width:400px">
          </a>
        </div><!--col-md-4-->

      </div><!--row-->
      
      <div class="row mt-25 row-center row2">
        <div class="col-md-4 col-center">
          <a href="http://www.nrfsinc.com/" target="_blank">
            <img ng-src="{{assetsPath}}/images/National_Retail_logo.png" alt="national retail logo" style="width:300px">
          </a>
        </div><!--col-md-4-->
        <div class="col-md-4 col-center">
          <a href="https://nationalcart.com/" target="_blank">
            <img ng-src="{{assetsPath}}/images/National_Cart_logo.jpg" alt="national cart logo" style="width:300px">
          </a>
        </div><!--col-md-4-->
      </div><!--row-->
      
      <div class="row row-center row3">
        <div class="col-md-2 col-center">
          <a href="https://www.lssliving.org/communities/breeze-park-st-charles-mo/" target="_blank">
            <img ng-src="{{assetsPath}}/images/Breeze_park_logo.jpg" alt="breeze park logo">
          </a>
        </div><!--col-md-2-->
        <div class="col-md-2 col-center">
          <a href="http://www.gibsonprinting.com/" target="_blank">
            <img ng-src="{{assetsPath}}/images/Gibson_Printing_logo.png" alt="gibson printing logo">
          </a>
        </div><!--col-md-2-->
        <div class="col-md-2 col-center">
          <a href="https://www.homeinstead.com/state/missouri" target="_blank">
            <img ng-src="{{assetsPath}}/images/Home_Instead_logo.png" alt="home instead logo">
          </a>
        </div><!--col-md-2-->
        <div class="col-md-2 col-center">
          <a href="https://www.kilwins.com/" target="_blank">
            <img ng-src="{{assetsPath}}/images/kilwins_logo.png" alt="kilwins logo">
          </a>
        </div><!--col-md-2-->
        <div class="col-md-2 col-center">
          <a href="https://www.goellnerprinting.com/" target="_blank">
            <img ng-src="{{assetsPath}}/images/Goellner_Logo.jpg" alt="goellner logo">
          </a>
        </div><!--col-md-2-->
      </div><!--row-->
      
      <div class="row row-center row4">
        <div class="col-md-2 col-center">
          <a href="http://vil.twin-oaks.mo.us/" target="_blank">
            <img ng-src="{{assetsPath}}/images/Twin_Oaks_logo.png" alt="twin oaks logo">
          </a>
        </div><!--col-md-2-->
        <div class="col-md-2 col-center">
          <a href="http://www.abwholesaler.com/group07/kreydist/home" target="_blank">
            <img ng-src="{{assetsPath}}/images/Krey_logo.jpg" alt="krey logo">
          </a>
        </div><!--col-md-2-->
        <div class="col-md-2 col-center">
          <a href="https://www.coldwellbankerhomes.com/mo/saint-charles/agent/lucia-lucy-roberts/aid_14511/" target="_blank">
            <img ng-src="{{assetsPath}}/images/Lucy_Roberts_logo.jpg" alt="lucy roberts logo">
          </a>
        </div><!--col-md-2-->
        <div class="col-md-2 col-center">
          <a href="http://www.mainstreetbooks.net/" target="_blank">
            <img ng-src="{{assetsPath}}/images/Mainstreet_books.png" alt="main street books logo">
          </a>
        </div><!--col-md-2-->
        <div class="col-md-2 col-center">
          <a href="https://chamberorganizer.com/ofallonchamber/mem_marcospro" target="_blank">
            <img ng-src="{{assetsPath}}/images/Marcos_Production_logo.jpg" alt="marcos production logo">
          </a>
        </div><!--col-md-2-->
      </div><!--row-->

      
    </div>
  </div>
</div>