<div class="stl-day">
  
  <div class="jumbotron section first-hero" id="first-hero-stl">
  </div><!--first-hero-->
  
  <div class="jumbotron section content" style="background:#5db1d7">
    <div class="container" style="background:white;padding:5%">
      
      <div class="intro mt-50 mb-50">
        <p>Give STL Day  is celebrating five years and is powered by the St. Louis Community Foundation. Give STL Day 2018 is a 24-hour, online day-of-giving event designed to ignite the spirit of giving across the region and support causes in the St. Louis area where we live, work and play. </p>
        <p>ITN<em>Gateway</em> is asking for your support as we expand our services to St. Louis County to help people, who are unable to drive, stay connected and engaged in the community.</p>
      </div><!--intro-->
      
      <div class="row">
        <div class="col-md-6" style="border: 5px solid #fc6d6d; padding: 2%;font-size:25px">
          <strong>Help us meet our Goal—$1500!</strong>
          <ol style="margin:2%">
            <li>
              Make a donation & Support ITN<em>Gateway</em><br>
               <a href="https://www.givestlday.org/itngateway">
                 - Give to ITN<em>Gateway</em> on May 2
               </a><br>
              - Schedule your donation on April 9<br>
              - Get an e-mail reminder on May 2
            </li>
            <li>
              <a href="https://www.givestlday.org/itngateway">
                Create a fundraising campaign
              </a>
            </li>
            <li>Become a #GiveSTLDay Ambassador </li>
          </ol>
        </div>
        
        <div class="col-md-6" style="padding:5%">
          <p>
            Connect with us: <br>
            <div class="row" style="margin-left:33%">
              <a href="https://www.facebook.com/ITNStCharles/">
                <div class="col-sm-3 social-icon-border fb">
                <i class="fa fa-facebook"></i>
                </div>
              </a>
              
              <a href="http://www.twitter.com/itnamerica">
                <div class="col-sm-3 social-icon-border tw">
                <i class="fa fa-twitter"></i>
                </div>
              </a>
            </div> 
          </p>
          
          <p>
            <a ui-sref="contact({newsletter: true})">Sign up for our newsletter</a>
          </p>
          
          <p class="ta-center mt-50">
            <a class="btn btn-lg" ui-sref="donate">Donate</a>
          </p>

        </div><!--col-md-6-->
      </div><!--row-->
      
      
      
    </div><!--container-->
  </div><!--content-->
</div><!--stl day-->